html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
  
body{
      background: #cc9933;
    font-family: Quicksand;
}
nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
}

nav ul {
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding-left: 150px;
    text-align: left;
    margin: 0;
    transition: 1s;
}

li{
    display: inline-block;
    padding: 20px
}

.buttonDonate{
    margin-left: 750px;
    background-color: #cc9933;
    color: #fff;
    border-radius: 8px;
}
.menu{
    background:transparent;
}
nav ul li {
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
 nav.black ul{
     background: #000;
 }
.menu-icon {
    width: 100%;
    background: #fff;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #000;
    display: none;
}

.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    height: 50px;
    width: auto;
}

.donateSplashPage{
    background: url("donate-header-bg.png");
    background-position: bottom;
    background-size: cover;
    height: 600px;
}

.heading{
    padding-top: 200px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.text{
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.donateOptions{
    background-color: #cc9933;
    padding-top: 100px;
    color: #fff;
    height: 500px;
}

.donating{
    background-color: #CC3333;
    color: #fff;
    border-radius: 8px;
    margin-left: 46%;
}

.footer{
    background-image: url("footer-bg.png");
    background-position: bottom;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    height: 350px;
}
.links{
    text-align: right;
}

h4{
    color: #cc9933;
}